<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Asistencia</h1>
        <form method="post" action="/agregar_asistencia" class="mb-3">
            <div class="mb-3">
                <input type="date" class="form-control" name="fecha" placeholder="Fecha" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="estado" placeholder="Estado (Presente/Ausente)" required>
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" name="estudiante_id" placeholder="ID del Estudiante" required>
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" name="curso_id" placeholder="ID del Curso" required>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Asistencia</button>
            <a href="/" class="btn btn-primary" style="text-decoration: none;">Volver al inicio</a>
        </form>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>ID del Estudiante</th>
                    <th>ID del Curso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asistencia in asistencias %}
                <tr>
                    <td>{{ asistencia[0] }}</td>
                    <td>{{ asistencia[1] }}</td>
                    <td>{{ asistencia[2] }}</td>
                    <td>{{ asistencia[3] }}</td>
                    <td>{{ asistencia[4] }}</td>
                    <td>
                        <a href="/editar_asistencia/{{ asistencia[0] }}" class="btn btn-primary btn-sm">Editar</a>
                        <form method="post" action="/eliminar_asistencia/{{ asistencia[0] }}" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        <a href="/asistencia_estudiante_curso/{{ asistencia[3] }}/{{ asistencia[4] }}" class="btn btn-warning btn-sm mt-2">Ver Asistencia</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
